version: '3.8'

services:
  db:
    image: postgres:15
    environment:
      POSTGRES_DB: queryquest
      POSTGRES_USER: queryquest
      POSTGRES_PASSWORD: queryquest_pass
    ports:
      - '5432:5432'
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
